@font-face{
    font-family: Hollywood;
    src: url(SF_Hollywood_Hills.ttf);
  }

body {
    color: #E6E7E9;
    font-family: Hollywood, Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    line-height: 40px;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 200px auto auto;
    grid-auto-columns: auto;
    grid-gap: .5em;
    background-image: url("../images/Hollywood-Backdrop.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
  }
.title { 
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 2; 
    justify-self: center;
    align-self: start;
    padding: 30px;
    filter: blur(.5px);
  }
.left{
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 3; 
    align-self: center;
}
.middle{
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 3; 
    background: black;
    align-self: start;
    justify-self: center;
    z-index: 1;
    width: 400px;
    height: 300px;
    padding: 25px;
}
.right{
    grid-column-start: 3; 
    grid-column-end: 4; 
    grid-row-start: 2; 
    grid-row-end: 3; 
    align-self: center;
    justify-self: center;
}
.bottom{
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 3; 
    grid-row-end: 4; 
    background: black;
    justify-self: center;
    align-self: center;
    height: 100px;
}
h1{
    font-size: 100px;
    text-align: center;
}
h7{
    text-align: center;
}
p{
    text-align: center;
}
.button{
    background-color: #A7161B;
    border: none;
    color: #E6E7E9;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}
.button:hover {
    background-color: #4B4F75;
    color: white;
}